.contenedor{
    background-color: rgb(101, 110, 110);
    height: 800px;
    
    
   
}

.cartita{
    margin-top: 150px;
    box-shadow: 2px 2px 8px #000000;
    height: 300px;
}

.foto{
    margin-left: 100px;
    margin-top: 70px;
}