
<div class="container-fluid contenedor ">
  <div class="row">
    <div class="col-sm">
      <div class="foto">
      <img class="foto" src="../../assets/merlina.jpg" style="width:550px;height:550px;">
      </div>
    </div>
    <div class="col-sm">
        <div class="card cartita" style="width: 28rem;">
            <div class="card-body">
              <h5 class="card-title">Bienvenidos</h5>
              
              <p class="card-text">Hola, Disfruta la estancia</p>
              
            </div>
          </div>
    </div>
    
  </div>
</div>
